
<main>

    <app-admin-topbar />
    <app-admin-menu />
    <!-- Start Content -->
    <div class="w-full lg:ps-64">
        <div class="p-6 page-content">
            <div class="border rounded-lg border-default-200">
                <form action="#" [formGroup]="dataForm">
                    <div class="p-6">
                        <div class="grid lg:grid-cols-2 gap-6 mb-6">
                            <div>
                                <label class="block text-sm font-medium text-default-900 mb-2" for="firstName">Tên đầy đủ</label>
                                <input formControlName="userFullName" class="block w-full bg-transparent rounded-full py-2.5 px-4 border border-default-200 focus:ring-transparent focus:border-default-200 dark:bg-default-50" type="text" placeholder="Nhập tên">
                                <p class="pl-3 mt-2 text-sm text-red-600" *ngIf="dataForm.get('userFullName')?.errors && dataForm.get('userFullName')?.touched">
                                    <span>{{dataForm.controls['userFullName'].errors?.['params']}}</span>
                                </p>
                            </div>
    
                            <div>
                                <label class="block text-sm font-medium text-default-900 mb-2" for="lastName">Tên ngắn</label>
                                <input formControlName="username" class="block w-full bg-transparent rounded-full py-2.5 px-4 border border-default-200 focus:ring-transparent focus:border-default-200 dark:bg-default-50" type="text" placeholder="Nhập tên">
                            </div>
    
                            <div>
                                <label class="block text-sm font-medium text-default-900 mb-2" for="user_name">Email</label>
                                <input formControlName="email" class="block w-full bg-transparent rounded-full py-2.5 px-4 border border-default-200 focus:ring-transparent focus:border-default-200 dark:bg-default-50" style="pointer-events: none">
                            </div>
    
                            <div>
                                <label class="block text-sm font-medium text-default-900 mb-2" for="emailAddress">Giới tính</label>
                                <input formControlName="userSex" class="block w-full bg-transparent rounded-full py-2.5 px-4 border border-default-200 focus:ring-transparent focus:border-default-200 dark:bg-default-50" type="email" placeholder="Giới tính">
                            </div>
    
                            <div>
                                <label class="block text-sm font-medium text-default-900 mb-2" for="phone_number">Ngày sinh</label>
                                <input formControlName="userBirthdate" class="block w-full bg-transparent rounded-full py-2.5 px-4 border border-default-200 focus:ring-transparent focus:border-default-200 dark:bg-default-50" type="tel" placeholder="dd/MM/yyyy">
                            </div>
    
                            <div>
                                <label class="block text-sm font-medium text-default-900 mb-2" for="country">Quốc gia/Khu vực</label>
                                <select  formControlName="userAddress" class="block w-full bg-transparent rounded-full py-2.5 px-4 border border-default-200 focus:ring-transparent focus:border-default-200 dark:bg-default-50">
                                    <option *ngFor="let country of listCountry"  [value]="country">{{country}}</option>
                                </select>
                            </div>
                        </div>
    
                        <div class="flex justify-end gap-4">
                            <button (click)="navigationUserList()" class="flex items-center justify-center gap-2 rounded-full bg-primary/10 px-6 py-2.5 text-center text-sm font-semibold text-primary shadow-sm transition-all duration-200 hover:bg-primary hover:text-white">
                                <i class="fa-solid fa-x"></i>
                                Close
                            </button>
                            <button (click)="updateUser()" class="flex items-center justify-center gap-2 rounded-full bg-primary px-6 py-2.5 text-center text-sm font-semibold text-white shadow-sm transition-all duration-200 hover:bg-primary-500">
                                <i class="fa-solid fa-file-export"></i>
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Content -->

    <app-footer />

</main>
