<head>

</head>
<main>
    <app-admin-topbar />
    <app-admin-menu />
    <div class="w-full lg:ps-64">
        <div class="p-6 page-content">
            <div class="grid xl:grid-cols-3 grid-cols-1 gap-6">
                <div class="xl:col-span-2">
                    <div class="flex">
                        <div class="relative rounded-lg overflow-hidden bg-no-repeat bg-cover lg:bg-right bg-top bg-[url(../images/other/offer-bg2.png)] w-full">
                            <div class="absolute inset-0 bg-black/10"></div>
                            <div class="relative p-8 md:p-12">
                                <h5 class="text-2xl text-white uppercase mb-2">Up to</h5>
                                <h4 class="text-2xl text-primary font-semibold mb-4">50% OFF</h4>
                                <p class="text-base text-white mb-6 max-w-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. </p>
                                <a href="javascript:void(0)" class="inline-flex items-center justify-center gap-2 rounded-full border border-primary bg-primary px-10 py-3 text-center text-sm font-semibold text-white shadow-sm transition-all duration-200 hover:border-primary-700 hover:bg-primary-500">
                                    Order Now
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="py-10">
                        <div class="flex items-center mb-10">
                            <h3 class="text-xl font-semibold text-default-950">Analytics Overview</h3>
                        </div>
                        <div class="grid lg:grid-cols-4 grid-cols-2 gap-6">
                            <div class="border border-default-200 rounded-lg p-4 overflow-hidden text-center hover:border-primary transition-all duration-300">
                                <h4 class="text-2xl text-primary font-semibold mb-2">12.56K</h4>
                                <h6 class="text-lg font-medium text-default-950 mb-4">Total Revenue</h6>
                                <p class="text-sm text-default-600">10% Increase</p>
                            </div><!-- end grid-cols -->
                            <div class="border border-default-200 rounded-lg p-4 overflow-hidden text-center hover:border-primary transition-all duration-300">
                                <h4 class="text-2xl text-primary font-semibold mb-2">2.5K</h4>
                                <h6 class="text-lg font-medium text-default-950 mb-4">New Orders</h6>
                                <p class="text-sm text-default-600">05% Increase</p>
                            </div><!-- end grid-cols -->
                            <div class="border border-default-200 rounded-lg p-4 overflow-hidden text-center hover:border-primary transition-all duration-300">
                                <h4 class="text-2xl text-primary font-semibold mb-2">400</h4>
                                <h6 class="text-lg font-medium text-default-950 mb-4">Received Order</h6>
                                <p class="text-sm text-default-600">30% Increase</p>
                            </div><!-- end grid-cols -->
                            <div class="border border-default-200 rounded-lg p-4 overflow-hidden text-center hover:border-primary transition-all duration-300">
                                <h4 class="text-2xl text-primary font-semibold mb-2">476</h4>
                                <h6 class="text-lg font-medium text-default-950 mb-4">Reviews</h6>
                                <p class="text-sm text-default-600">15% Increase</p>
                            </div><!-- end grid-cols -->
                        </div><!-- end grid -->
                    </div>

                    <div class="pb-10">
                        <div class="flex flex-wrap items-center justify-between gap-4 mb-10">
                            <h3 class="text-xl font-semibold text-default-950">Category</h3>
                            <a href="product-grid.html" class="inline-flex items-center gap-1 text-sm text-primary font-medium hover:text-primary-500">View all <i data-lucide="chevron-right" class="h-5 w-5"></i></a>
                        </div>
                        <div class="grid lg:grid-cols-6 grid-cols-3 gap-6" >
                            <div *ngFor="let collection of listCollections">
                                <a href="#" class="text-center space-y-4">
                                    <div class="">
                                        <img src="assets/images/icons/category/{{collection.collectionImage}}" class="mx-auto max-w-full h-full">
                                    </div>
                                    <h5 class="text-lg text-default-600">{{collection.collectionName}}</h5>
                                </a>
                            </div>
                        </div><!-- end grid -->
                    </div>

                    <div class="pb-10">
                        <div class="flex flex-wrap items-center justify-between gap-4 mb-10">
                            <h3 class="text-xl font-semibold text-default-950">Best Selling Products</h3>
                        </div>
                        <div class="grid lg:grid-cols-4 grid-cols-2 gap-6">
                            <a *ngFor="let t5 of listTop5Products" href="product-grid.html" class="border border-default-200 rounded-lg p-4 overflow-hidden hover:border-primary transition-all duration-300">
                                <div class="relative rounded-lg overflow-hidden divide-y divide-default-200">
                                    <div class="mb-4 mx-auto">
                                        <img [src]="getProductImage(t5.productImage)" class="w-full h-full">
                                        <!-- <img src="assets/images/dishes/veg-rice.png" class="w-full h-full"> -->
                                    </div>

                                    <div class="pt-2">
                                        <h4 class="text-default-800 text-xl font-semibold line-clamp-1 mb-2">{{t5.productName}}</h4>
                                        <h6 class="font-semibold text-lg text-default-500">{{t5.productPrice | currency: 'USD' : 'symbol' : '1.0-0'}}</h6>
                                    </div>
                                </div>
                            </a><!-- end grid-cols -->
                            
                        </div><!-- end grid -->
                    </div>
                </div>
                <!-- end grid-cols -->

                <div class="lg:col-span-1">
                    <div class="border border-default-200 rounded-lg">
                        <div class="p-6">
                            <div class="mb-6">
                                <h2 class="text-xl text-default-800 font-semibold mb-4">Your Balance</h2>

                                <div class="bg-no-repeat bg-cover bg-[url(../images/other/offer-bg.png)] bg-primary/10 rounded-lg">
                                    <div class="py-6 px-8">
                                        <div class="flex sm:flex-row flex-col items-center gap-6">
                                            <div class="sm:w-1/2 w-full flex items-center gap-6">
                                                <div>
                                                    <span class="inline-flex items-center justify-center h-14 w-14 bg-primary-200 text-primary shadow-md rounded-lg">
                                                        <i data-lucide="hard-drive-download" class="h-8 w-8"></i>
                                                    </span>
                                                    <p class="text-default-600 mt-1.5">Top Up</p>
                                                </div>

                                                <div>
                                                    <span class="inline-flex items-center justify-center h-14 w-14 bg-primary-200 text-primary shadow-md rounded-lg">
                                                        <i data-lucide="hard-drive-upload" class="h-8 w-8"></i>
                                                    </span>
                                                    <p class="text-default-600 mt-1.5">Transfer</p>
                                                </div>
                                            </div>

                                            <div class="sm:w-1/2 w-full">
                                                <div class="bg-primary rounded-lg">
                                                    <div class="p-4">
                                                        <h6 class="text-lg font-medium text-default-100 mb-1">Balance</h6>
                                                        <h1 class="text-2xl font-bold text-white">$12.000</h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-6">
                                <h2 class="text-xl text-default-800 font-semibold mb-4">Your Address</h2>

                                <div class="flex items-center justify-between gap-4 mb-4">
                                    <h3 class="text-lg text-default-800 font-semibold"><i data-lucide="map-pin" class="h-5 w-5 inline align-middle text-primary"></i> 47, Victoria Street</h3>
                                    <button class="border border-primary text-primary text-xs font-medium rounded-lg py-1.5 px-4 transition-all duration-300 hover:bg-primary hover:text-white">Change</button>
                                </div>
                                <p class="text-base/relaxed text-default-500 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end grid-cols -->
            </div><!-- end grid -->
        </div>
    </div>

    <app-footer />
</main>