<head>
    <meta charset="utf-8">
</head>
<header class="page-header">
    <div class="page-header__inner">
        <div class="page-header__sidebar">
            <div class="page-header__menu-btn"><button class="menu-btn ico_menu is-active"></button></div>
            <div class="page-header__logo"><img src="../../../../../assets/img/logo.png" alt="logo"><span class="page-header__logo_text">GAME</span></div>
        </div>
        <div class="page-header__content">
            <div class="page-header__search">
                <form class="search" [formGroup]="searchForm">
                    <div class="search__input"><i class="ico_search"></i><input type="search" name="search"  formControlName="gameName" placeholder="Search for games ..."></div>
                    <!-- <div uk-form-custom="target: > * > span:first-child">
                        <select class="js-select uk-flex-1" formControlName="categoryId">
                            <option value="">Select a Category</option>
                            <option *ngFor="let category of arrCategory" [value]="category.categoryId">{{category.categoryName}}</option>
                        </select>
                    </div> -->
                    <div class="search__btn" (click)="search()"><button type="button" ><i class="ico_search"></i></button></div>
                </form>
            </div>
            <div class="page-header__action">
                <div class="user-info__title">{{userName}}</div>
                <a (click)="navigateToProfile()" class="profile" ><img  src="../../../../../assets/img/icon_54.png" alt="profile"></a>
                <button class="uk-button uk-button-danger" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</header>