

<main>
    <app-admin-topbar />
    <app-admin-menu />

    <!-- Start Content -->
    <div class="w-full lg:ps-64">
        <div class="p-6 page-content">
            <div class="rounded-lg border border-default-200">
                <form action="#" [formGroup]="dataForm">
                    <div class="p-6">
                        <div class="flex flex-wrap justify-between items-center gap-4">
                            <div class="relative lg:flex hidden">
                                <input type="search" name="search" formControlName="userFullName" 
                                                    placeholder="Search..." 
                                                    (ngModelChange)="search()"  class="ps-12 pe-4 py-2.5 block w-64 bg-default-50/0 text-default-600 border-default-200 rounded-lg text-sm focus:border-primary focus:ring-primary">
                                <!-- <input type="search" formControlName="userFullName"  class="ps-12 pe-4 py-2.5 block w-64 bg-default-50/0 text-default-600 border-default-200 rounded-lg text-sm focus:border-primary focus:ring-primary" placeholder="Search..."> -->
                                <span class="absolute start-4 top-2.5">
                                    <i class="fa-solid fa-magnifying-glass ext-default-600"></i>
                                </span>

                                <button (click)="search()" type="submit" class="flex items-center justify-center bg-default-50/0 text-default-600 border-default-200 rounded-lg text-sm py-2.5 px-4 focus:outline-none focus:ring-primary focus:border-primary">
                                    <i class="fa-solid fa-magnifying-glass text-default-600"></i>
                                </button>
                            </div>
    
                            <div class="flex flex-wrap items-center gap-2">
    
                                <a (click)="navigationUserAdd()" class="cursor-pointer px-6 py-2.5 inline-flex items-center gap-x-2 text-white text-sm rounded-md bg-primary ">
                                    <i class="fa-solid fa-plus text-sm"></i>
                                    Thêm mới nhân viên
                                </a>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="relative overflow-x-auto border-t border-default-200">
                    <div class="min-w-full inline-block align-middle">
                        <div class="overflow-hidden">
                            <table class="min-w-full divide-y divide-default-200">
                                <thead class="bg-default-100">
                                    <tr>
                                        <th scope="col" class="px-6 py-4 max-w-[1rem]">
                                            <div class="flex items-center h-5">
                                                <input id="hs-table-search-checkbox-all" type="checkbox" class="form-checkbox h-5 w-5 border border-default-300 text-primary rounded bg-transparent focus:border-primary-300 focus:ring focus:ring-offset-0 focus:ring-primary-200 focus:ring-opacity-50">
                                                <label for="hs-table-search-checkbox-all" class="sr-only">Checkbox</label>
                                            </div>
                                        </th>
                                        <th  (click)="onSortChange('userFullName')" scope="col" class="cursor-pointer px-6 py-4 text-start whitespace-nowrap text-sm font-medium text-default-500">Tên đầy đủ{{ordUserFullName ==  "asc" ? "↑↓" : "↓↑"}}</th>
                                        <th scope="col" class="px-6 py-4 text-start whitespace-nowrap text-sm font-medium text-default-500">Email</th>
                                        <th scope="col" class="px-6 py-4 text-start whitespace-nowrap text-sm font-medium text-default-500">Ngày sinh</th>
                                        <th scope="col" class="px-6 py-4 text-start whitespace-nowrap text-sm font-medium text-default-500">Địa chỉ</th>
                                        <th scope="col" class="px-6 py-4 text-start whitespace-nowrap text-sm font-medium text-default-500">Giới tính</th>
                                        <th scope="col" class="px-6 py-4 text-start whitespace-nowrap text-sm font-medium text-default-500">Chức vụ</th>
                                        <th scope="col" class="px-6 py-4 text-start whitespace-nowrap text-sm font-medium text-default-500">Status</th>
                                        <th scope="col" class="px-6 py-4 text-start whitespace-nowrap text-sm font-medium text-default-500">Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="divide-y divide-default-200" *ngFor="let user of listUser">
                                    <tr>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            <div class="flex items-center h-5">
                                                <input id="hs-table-search-checkbox-1" type="checkbox" class="form-checkbox h-5 w-5 border border-default-300 rounded text-primary bg-transparent focus:border-primary-300 focus:ring focus:ring-offset-0 focus:ring-primary-200 focus:ring-opacity-50">
                                                <label for="hs-table-search-checkbox-1" class="sr-only">Checkbox</label>
                                            </div>
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap text-base text-default-800">{{user.userFullName}}</td>
                                        <td class="px-6 py-4 whitespace-nowrap text-base text-default-800">{{user.email}}</td>
                                        <td class="px-6 py-4 whitespace-nowrap text-base text-default-800">{{user.userBirthdate}}</td>
                                        <td class="px-6 py-4 whitespace-nowrap text-base text-default-800">{{user.userAddress}}</td>
                                        <td class="px-6 py-4 whitespace-nowrap text-base text-default-800">{{user.userSex}}</td>
                                        <td class="px-6 py-4 whitespace-nowrap text-base text-default-800">{{user.userRoleName}}</td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            <span class="px-3 py-1 text-xs font-medium rounded-md bg-green-500/10 text-green-500">Active</span>
                                        </td>
                                        <td class="px-6 py-4">
                                            <div class="flex gap-3">
                                                <a class="cursor-pointer transition-all hover:text-primary"><i class="fa-solid fa-pen"></i></a>
                                                <a (click)="navigationUserDetail(user.userId)" class="cursor-pointer transition-all hover:text-primary" ><i class="fa-regular fa-eye"></i></a>
                                                <a (click)="openConfirmDialog(user.userId)" class="cursor-pointer transition-all hover:text-red-500"><i class="fa-regular fa-trash-can"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- popup xác nhận xoá -->
                                    <div *ngIf="isConfirmDialogOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-500 bg-opacity-20">
                                        <div class="bg-white p-6 rounded-lg shadow-lg w-96">
                                            <h3 class="text-lg text-center">Xác nhận xoá sản phẩm</h3>
                                            <div class="flex justify-center gap-4 mt-4">
                                                <button (click)="deleteUser(user.userId)" class="px-4 py-2 bg-red-600 text-white rounded-lg">Yes</button>
                                                <button (click)="closeConfirmDialog()" class="px-4 py-2 bg-gray-300 text-gray-800 rounded-lg">No</button>
                                            </div>
                                        </div>
                                    </div><!--end popup-->
                                </tbody>
                            </table>
                            <div class="flex flex-wrap justify-center md:flex-nowrap md:justify-end gap-y-6 gap-x-10 pt-6">
                                <nav>
                                    <ul class="inline-flex items-center space-x-2 rounded-md text-sm">
                                        <li>
                                            <button class="inline-flex items-center justify-center h-9 w-9 border border-primary rounded-full text-white bg-primary transition-all duration-500 disabled:opacity-50"
                                                    [disabled]="currentPage === 1" (click)="moveToPage(currentPage - 1)">
                                                <i class="fa-solid fa-chevron-left"></i>
                                            </button>
                                        </li>
                                        <li *ngIf="currentPage > 1">
                                            <a href="javascript:void(0)" (click)="moveToPage(1)" class="inline-flex items-center justify-center h-9 w-9 bg-default-100 rounded-full transition-all duration-500 text-default-800 hover:bg-primary hover:border-primary hover:text-white">
                                                1
                                            </a>
                                        </li>
                                        <li *ngIf="currentPage > 4">
                                            <a href="javascript:void(0)" class="inline-flex items-center justify-center h-9 w-9 bg-default-100 rounded-full transition-all duration-500 text-default-800 hover:bg-primary hover:border-primary hover:text-white">
                                                ...
                                            </a>
                                        </li>
                                        <li *ngIf="currentPage > 2">
                                            <a href="javascript:void(0)" (click)="moveToPage(currentPage - 1)" class="inline-flex items-center justify-center h-9 w-9 bg-default-100 rounded-full transition-all duration-500 text-default-800 hover:bg-primary hover:border-primary hover:text-white">
                                                {{ currentPage - 1 }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="inline-flex items-center justify-center h-9 w-9 bg-primary rounded-full text-white">
                                                {{ currentPage }}
                                            </a>
                                        </li>
                                        <li *ngIf="currentPage + 1 < totalPage">
                                            <a href="javascript:void(0)" (click)="moveToPage(currentPage + 1)" class="inline-flex items-center justify-center h-9 w-9 bg-default-100 rounded-full transition-all duration-500 text-default-800 hover:bg-primary hover:border-primary hover:text-white">
                                                {{ currentPage + 1 }}
                                            </a>
                                        </li>
                                        <li *ngIf="currentPage + 2 < totalPage">
                                            <a href="javascript:void(0)" class="inline-flex items-center justify-center h-9 w-9 bg-default-100 rounded-full transition-all duration-500 text-default-800 hover:bg-primary hover:border-primary hover:text-white">
                                                ...
                                            </a>
                                        </li>
                                        <li *ngIf="currentPage !== totalPage">
                                            <a href="javascript:void(0)" (click)="moveToPage(totalPage)" class="inline-flex items-center justify-center h-9 w-9 bg-default-100 rounded-full transition-all duration-500 text-default-800 hover:bg-primary hover:border-primary hover:text-white">
                                                {{ totalPage }}
                                            </a>
                                        </li>
                                        <li>
                                            <button class="inline-flex items-center justify-center h-9 w-9 border border-primary rounded-full text-white bg-primary transition-all duration-500 disabled:opacity-50"
                                                    [disabled]="currentPage === totalPage" (click)="moveToPage(currentPage + 1)">
                                                <i class="fa-solid fa-chevron-right"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            
                        </div><!-- end overflo-hidden -->
                    </div><!-- end table-responsive -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->
    <app-footer />
    <script src="../../../../assets/js/admin-customers-list.js" type="module"></script>

</main>
